body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .task-list {
    list-style: none;
    padding: 20px;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  .task-item:nth-child(odd) {
    background-color: #bbdefb; /* Голубой фон для нечетных задач */
  }
  
  .checked {
    background-color: #f5f5f5; /* Серый фон для отмеченных задач */
    text-decoration: line-through;
  }
  
  .checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    margin-right: 10px;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    color: #fff;
    border-radius: 50%;
    background-color: transparent;
  }
  
  .checkbox::before {
    content: "✓";
    display: none;
  }
  
  .checked .checkbox::before {
    display: block;
  }
  
  .task-item.checked .checkbox {
    background-color: #4caf50; /* Зеленый фон для отмеченных задач */
    border-color: #4caf50;
    color: #fff;
  }
  
  .task-item .checkbox {
    cursor: pointer;
  }
  
  .task-item .delete-icon {
    display: inline-block;
    margin-left: auto;
    color: #ff0000; /* Красный цвет для крестика */
    cursor: pointer;
  }
  