@font-face {
    font-family: "FiraSans";
    src: url(/assets/fonts/BebasNeue-Regular.ttf);
  }
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(/assets/backgrounds/blacklines.jpg);
    background-size: 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    
}

.abt-icon{
    width: 50px;
}


.nav-logo {
    display: flex;
    justify-content: center;
    width: 20%;
}


.main-body {
    background-color: #ffffff;
}

.img-container {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    height: 478px; /* Adjust the height as needed to center the image vertically within the viewport */
}
.img-container-phoneguy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Adjust the height as needed to center the image vertically within the viewport */
}
.img-main {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 100%; /* Ensure the image doesn't exceed the container height */
}
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container{
    display: flex;
    align-items: center;
    width: 40%;
    justify-self: center;
    justify-content: center;
}
.text-header{
    background-color: #ffffff;
    width:  400px;
    justify-content: center;
}

.text{
    background-color: #ffffff;
    font-family: FiraSans;
    margin: 16px 180px;
    font-size: 28px;
}


.about-us-section {
    padding: 20px;
    text-align: center;
}

.about-us-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-info {
    font-size: 16px;
    margin-top: 20px;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Style the video container */
